<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>React Ecosystem Admin</title>
    </head>
    <body>
        <div id="admin-app"></div>
        <script src="/build/<%= hash %>/common.js"></script>
        <script src="/build/<%= hash %>/admin.js"></script>
    </body>
</html>
