<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>React Ecosystem Aurora</title>
    </head>
    <body>
        <div id="react-app"></div>
        <script src="/build/<%= hash %>/common.js"></script>
        <script src="/build/<%= hash %>/main.js"></script>
    </body>
</html>
