<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>React Ecosystem Aurora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if production %}
    <link rel="stylesheet" href="/build/{{ hash}}/main.css"/>
    {% endif %}
  </head>
  <body>
    <div id="react-app">{{ appString | safe }}</div>
    <script src="/build/{{ hash }}/common.js"></script>
    <script src="/build/{{ hash }}/main.js"></script>
  </body>
</html>
