body {
    background #efefef
    border-top 9px solid #335
    color #333
    font 14px/1.5 "Helvetica Neue", Arial, sans-serif
    margin 0
    overflow-y scroll
    padding 2.5% 5%
}

h1,
h2,
h3 {
    font-weight 300
}

h2,
h3 {
    margin-top 1.5em
}

code {
    background-color white
    font-weight bold
    padding 0.25em 0.5em
}
